/* Put any styles you want here to override theme defaults*/
@import "theme-settings";

.polaroid {
  min-width: 150px !important;
  max-width: 150px !important;
  height: 250px !important;
  object-fit: cover;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}

header a:hover {
  color: $link-header-hover-color !important;
}

header header a:visited {
  color: $link-header-base-color !important;
}

.tab-bar {
  color: $header-text-color !important;
}